# Usage: direnv allow

az config set extension.use_dynamic_install=yes_without_prompt
az account show || az login

export APP=foo
export RG=${APP}-rg
export PREMIUM_PLAN=true

# must be between 3 and 24 characters in length and use numbers and lower-case letters only.
export STORAGE_NAME=${APP}123st

export REGION=westeurope

export FUNCTIONS_CORE_TOOLS_TELEMETRY_OPTOUT=1
